@font-face {
  font-family: 'Zawgyi-One';
  src: 	url('../font/Zawgyi-One.eot?#iefix') format('embedded-opentype'),  
  		url('../font/Zawgyi-One.woff') format('woff'), 
  		url('../font/Zawgyi-One.ttf')  format('truetype'), 
  		url('../font/Zawgyi-One.svg#Zawgyi-One') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Padauk';
  src: url('../font/Padauk.woff2') format('woff2'),
       url('../font/Padauk.woff') format('woff'),
       url('../font/Padauk.ttf')  format('truetype');
}

@font-face{
	font-family: 'ZawDcode';
	src: url('../font/ZawDcode.ttf');
}

body{
	height: auto;
}

#maincontent {
	margin-top: 93px;
	padding: 15px;
}

.content{
	padding: 15px;
}

textarea{
	resize: none !important;
	height: 130px;
}

.custom-confirm-box{
	width: 40%;
	margin: 0px auto;
}

.ui.search.dropdown.selection{
	width: 100% !important;
}

.actions{
	padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    text-align: center !important;
    background: #eee;
}

.actions .button{
	width: 25% !important;
}

/*table{
	font-size: 12px !important;
}*/

.myanmar h1, .myanmar h2, .myanmar h3, .myanmar h4, .myanmar h5, .myanmar div, .myanmar li, .myanmar th, .myanmar a, .myanmar input, .myanmar textarea, .myanmar select, .myanmar button{
	font-family: 'ZawDcode', sans-serif !important;
}

.english h1, .english h2, .english h3, .english h4, .english h5, .english div, .english li, .english th, .english a, .english input, .english textarea, .english select, .english button{
	font-family: 'Quicksand', sans-serif !important;
}

.myanmar th, .myanmar td, .myanmar input, .myanmar textarea, .myanmar select, .english th, .english td, .english input, .english textarea, .english select{
	font-family: 'ZawDcode' !important;
}

.pagination{
	text-align: center;
}

.text-capitalize{
	text-transform: capitalize !important;
}

#LC_err{
	line-height: 36px;
}

.vr_wrapper{
	margin-top: 20px;
	max-height: 400px;
	overflow: hidden;
	overflow-y:  auto;
}

#itemSearch .scrolling.content{
	height: 500px;
}

.item{
	cursor: pointer;
}

.item:hover{
	background: #eee;
}

.itemSearch-header{
	padding: 15px;
	background: #fbbd08;
}

.all-link a{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

#addCash{
	cursor: pointer;
}

#addCash:hover{
	background: #b5cc18 !important;
	transition: all 0.1s;
	color: #fff !important;
}

.ui.modal>.close {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
    opacity: .8;
    font-size: 1.25em;
    color: #db2828;
    width: 2.25rem;
    height: 2.25rem;
    padding: .625rem 0 0 0;
}

input{
	font-family: 'ZawDcode' !important;
	line-height: 20px !important;
}

.ui.selection.dropdown {
	line-height: 20px !important;
}

tbody td{
	/*font-family: 'Zawgyi-One' !important;*/
}

.text-red {
	color:  red !important;
}

#payment, #refund, #payment:focus, #refund:focus {
	border: 0px !important;
	outline:  none !important;
	text-align: right;
	width: 150px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.customer-info label {
		font-size: 16px;
}

.customer-info {
	padding: 10px 0px 10px 0px;
}

.light-green {
	color: lightgreen !important;
}

.slate-grey {
	color: slategray !important;
}