/* 
* Margin
*/
.mid-margin {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

/* 
* Padding
*/
.mid-padding {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.px-2 {
	padding-left:  15px !important;
	padding-right:  15px !important;
}

.px-3 {
	padding-left:  25px !important;
	padding-right:  25px !important;
}

.py-2 {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.py-3 {
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}

/* 
* Text align
*/

.text-right {
	text-align: right !important;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.py-5 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.icon-5x {
	font-size: 60px !important;
}

.text-grey {
	color: #aaa;
}

/* Custom Scroll Bar */


/* Let's get this party started */

::-webkit-scrollbar {
    width: 5px !important;
    height: 3px !important;
    scroll-behavior: smooth;
}

.breadcrumb-wrap{
	position: fixed;
	top: 54px;
	z-index: 3;
	background: #e2eaec;
	width: 100%;
	padding: 10px 30px;
}


.ignite-content{
	margin-top: 40px;
}

/* Upload Preview */

.file-upload
{
	border: 1px solid #ddd;
	border-radius: 3px;
	/*height: 150px;*/
}

.fileBrowser-upload{
	border: 1px solid #ddd;
	height: 250px !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.preview img
{
	width: 50%;
	/*height: 130px;*/
}

.uploadBtn {
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}

.preview-browser
{
	width: 175px;
	height: 130px;
}

.contentView img{
	/*width: 100% !important;*/
	height: auto !important;
}

.contentView table tr td{
	padding: 0px 10px 0px 10px !important;
	line-height: 14px !important;
	vertical-align: middle !important;
}

/*--------------------------------------*/


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 3px;
    background: linear-gradient(to right, #533fd0 0, #840fb5 100%);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #840fb5;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #840fb5 #ddd;
}

/* End of Custom Scroll Bar */
